# Build output
node_modules/
out/
dist/
build/
*.swp
*.tmp
*.temp
*.bak

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Mac specific
.AppleDouble
.LSOverride

# IDE-specific
.idea/
*.iml
.vscode/
